@use "@/styles/_colors" as *;
.input{
    display: flex;
    flex: 1;
    &__dni{
        flex: 1;
        display: flex;
    }
    &__type{
        display: flex;
        justify-content: center;
        outline: 0;
        cursor: pointer;
        align-items: center;
        padding: 1rem;
        border: 1px solid $inputBorder;
        border-right-width: 0;
        border-radius: 4px;
        background-color: transparent;
        gap: 0.8rem;
    }
    &__text{
        font-weight: 400;
        color:$secondary;
        font-size: 16px;
        line-height: 24px;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        color:$primary;
    }
    
}