@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.container{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    &__text{
        color:$secondary;
    }
    &__label{
        display: flex;
        flex-direction: column;
    }
    @include desktop {
       flex-direction: row;
       justify-content: space-between;
       padding: 3rem 0;
       align-items: center;
       gap: 2.75rem;
       border-bottom: pxRem(1px) solid $border;
    }
}
.note{
    display: flex;
    gap:0.5rem;
    &__text{
        color:$secondary;
        font-size: 0.8rem;
        opacity: 0.8;
    }
    &__separator{
        display: block;
        color:$secondary;
        height: 1rem;
        width: 0.5rem;
    }
}
.input-suma{
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0.1rem solid $border ;
    display: flex;
    justify-content: space-between;
    &__button{
        @include center;
        cursor: pointer;
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: $link;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: $background-secondary;
        }
    }
    &__input{
        border: 0;
        outline: 0;
        color: $secondary;
        max-width: 7rem;
        text-align: center;
        font-size: 1.25rem;
    }
}