@use "@/styles/_colors" as *;
@use "@/styles/_resources" as *;
.input{
    padding:1rem;
    outline: 0;
    flex: 1;
    border: pxRem(1px) solid $inputBorder;
    border-radius: pxRem(4px);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    text-transform: uppercase;
    color: $secondary;
    &::placeholder{
        text-transform: initial;
        color: $placeholder;
    }
   
}