@use "@/styles/_colors" as *;
@use "@/styles/_sizes" as *;
.button{
    background-color: $primary;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    padding: 20px 0;
    @media only screen and (min-width: $screen-md) {
            padding: 1.25rem 2rem;
    }
    &__label{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color:$background-primary;
        letter-spacing: 0.8px;
    }
}