@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.button{
    background-color: $primary;
    border-radius: pxRem(8px);
    cursor: pointer;
    border: 0;
    padding: pxRem(20px) 0;
    width: 100%;
    @include desktop {
            padding: 1.25rem 2rem;
    }
    &__label{
        @include font(pxRem(14px),700,pxRem(16px),pxRem(0.8px),$background-primary);
        text-transform: uppercase;
    }
}