@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.banner{
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1.5rem;
    gap: 1.5rem;
    &__title{
        @include font(2.5rem,400,3rem,pxRem(-0.6px),$secondary);
        display: none;
        &--primary{
            color:$primary;
        }
        @include desktop{
            display: initial;
        }
    }
    &__text{
        &_primary{
            font-size: 1.8rem;
            font-weight: 400;
            color:$secondary;
            @include desktop{
                    display: none;
            }
        }
        &_secondary{
            font-size:1rem;
            font-weight: 400;
            opacity: 0.7;
            color:$secondary;
        }
    }
    @include desktop{
        background-color: $background-primary;
        
    }
}