@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.button{
    background-color: transparent;
    display: none;
    align-items: center;
    border:0;
    outline: 0;
    cursor: pointer;
    gap:1rem;
    &__icon{
        @include center;
        font-size: 1.5rem;
        color:$primary;
    }
    &__text{
        @include font(0.75rem,400,1rem,pxRem(0.6px),$placeholder);
        text-transform: uppercase;
    }
    @include desktop{
        display: flex;
    }
}