@use "@/styles/_colors" as *;
@use "@/styles/_sizes" as *;
.button{
    background-color: transparent;
    display: none;
    align-items: center;
    border:0;
    outline: 0;
    cursor: pointer;
    gap:1rem;
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color:$primary;
    }
    &__text{
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color:$placeholder;

    }
    @media only screen and (min-width: $screen-md) {
        display: flex;
    }
}