@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.card{
    border-bottom: pxRem(1px) solid $border;
    display: flex;
    gap: pxRem(14px);
    width: 100%;
    padding: 2rem 0;
    &__description-desktop{
        display: none;
        &--open{
            display: none;
            @include desktop{
                    display: flex;
            }
        }
    }
    &__img{
        width: pxRem(40px);
        height: pxRem(40px);
    }
    &__text{
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color:$secondary;
    }
    &__content{
        display: flex;
        flex: 1;
        gap:1rem;
        flex-direction: column;
        &--x{
            display: flex;
            flex: 1;
            justify-content: space-between;
            @include desktop {
                flex-direction: column;
                gap: 0.75rem;
            }
        }
        @include desktop {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__label{
        @include font(1rem,400,1.5rem,pxRem(0.2px),$secondary);
        @include desktop {
            font-size: 1.25rem;
        }
    }
    &__description{
       display: none;
       &--open{
        display: flex;
        @include desktop {
            display: none;
        }
       }
    }
    @include desktop {
        padding: 2rem 0;
    }
}
.button{
    display: flex;
    justify-content: flex-start;
    gap:pxRem(11px);
    cursor: pointer;
    &__text{
        @include font(pxRem(10px),700,pxRem(16px),pxRem(0.8px),$link);
        text-transform: uppercase;
        &--open{
            color:$placeholder;
        }
        @include desktop{
            display: none;
        }
    }
    &__icon{
        font-size: 1rem;
        color: $link;
        transition: all 0.5s ease-in-out;
        &--open{
            color:$placeholder;
            transform: rotate(180deg);
        }
        @include desktop {
            color:$primary;
            display: flex;
            justify-content: flex-start;
        }
    }
}