@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.stepper{
    &__list{
        display: none;
        flex-direction: column;
        padding: 3.25rem 0 0 0;
        list-style: none;
        gap: 2.75rem;
        @include desktop {
            display: flex;
        }
    }
    &__item{
        display: flex;
        gap:1rem;
    }
    &__label{
        @include font(1rem,400,1.5rem,pxRem(0.2px),$placeholder);
        &--selected{
            color: $secondary;
        }
    }
    &__number{
        @include center;
        color: $placeholder;
        text-align: center;
        font-size: 0.75rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid $placeholder;
        &--selected{
            background-color: $link;
            color: $background-primary;
        }
    }
    &__mobile{
        @include center;
        padding: 1rem 2rem;
        gap:1rem;
        @include desktop {
            display: none;
        }
    }
    &__icon{
        @include center;
        font-size: 2rem;
        cursor: pointer;
        color: $border;
    }
    &__text{
        text-transform: uppercase;
        color:$secondary;
        font-size: 0.7rem;
        opacity: 0.6;
        font-weight: 700;
    }
    &__indicator{
        display: block;
        width: 100%;
        max-width: 12rem;
        height: 0.5rem;
        background-color: $link;
        border-radius: 1rem;
    }
    @include desktop {
        display: flex;
        justify-content: center;
    }
}