@use "@/styles/_colors" as *;
@use "@/styles/_sizes" as *;
.card{
    display: flex;
    justify-content: space-between;
    background-color: $background-primary;
    
    border-radius: 0.5rem;
  
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 1rem 0 1rem 1.5rem;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__content{
        display: flex;
        gap: 0.25rem;
    }
    &__text{
        color: $secondary;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.2px;
        @media only screen and (min-width: $screen-xl){
            font-size: 1.25rem;
        }
        
    }
    @media only screen and (min-width: $screen-md) {
            padding: 0 2rem;
            border: 3px solid $cardBorder;
            border-radius: 0.75rem;
    }
}
.placa{
    display: flex;
    gap: 0.25rem;
    &__text{
        color:$placeholder;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: 0.2px;
        &--uppercase{
            text-transform: uppercase;
        }
    }
}