@use "@/styles/_sizes" as *;
.section{
display: flex;
flex-direction: column;
@media only screen and (min-width: $screen-md) {
        flex-direction: row;
    }
}
.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    &__title{
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.2px;
    }
}