@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
@use "@/styles/_colors" as *;
.section{
display: flex;
flex-direction: column;
flex: 1;
@include desktop{
    flex-direction: row;
}
}
.form{
    @include center;
    flex-direction: column;
    flex: 1.5;
    padding: 1rem;
    &__title{
        @include font(1.5rem,400,2rem,pxRem(-0.2px),$secondary)
    }
}