@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.switch{
   display: flex;
   width: pxRem(51px);
   height: pxRem(31px);
   background-color: $border;
   border-color: transparent;
   border-width: 0;
   cursor: pointer;
   position: relative;
   border-radius: pxRem(18px);
   transition: all 0.3s ease-in-out;
   &--enabled{
    background-color: $success;
   }
   &__icon{
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border:pxRem(1px) solid $link;
    @include desktop {
        @include center;
        color: $link;
    }
   }
   &__sign{
    display: none;
    font-size: 1rem;
    @include desktop{
            @include center;
            color: $link;
    }
   }
   &__label{
    display: none;
    @include font(0.75rem,700,1rem,pxRem(0.6px),$secondary);
    text-transform: uppercase;
    @include desktop{
        display: initial;
        color: $link;
    }
   }
   &__circle{
    display: flex;
    position: absolute;
    top: pxRem(1.5px);
    left:pxRem(1.5px);
    background-color: $background-secondary;
    width: pxRem(28px);
    height: pxRem(28px);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &--enabled{
        transform:translateX(pxRem(20px));
    }
    @include desktop {
            display: none;
    }
   }
   @include desktop {
       background-color: transparent;
       width: auto;
       padding: 0;
       height: auto;
       align-items: center;
       gap: 0.75rem;
   }
}