@use "@/styles/_colors" as *;
@use "@/styles/_sizes" as *;
.switch{
   display: flex;
   width: 51px;
   height: 31px;
   background-color: $border;
   border-color: transparent;
   border-width: 0;
   cursor: pointer;
   position: relative;
   border-radius: 18px;
   transition: all 0.3s ease-in-out;
   &--enabled{
    background-color: $success;
   }
   &__icon{
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border:1px solid $link;
    @media only screen and (min-width: $screen-md) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $link;
    }
   }
   &__sign{
    display: none;
    font-size: 1rem;
    @media only screen and (min-width: $screen-md) {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $link;
    }
   }
   &__label{
    display: none;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    @media only screen and (min-width: $screen-md) {
        display: initial;
        color: $link;
    }
   }
   &__circle{
    display: flex;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    background-color: $background-secondary;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &--enabled{
        transform:translateX(20px);
    }
    @media only screen and (min-width: $screen-md) {
            display: none;
    }
   }
   @media only screen and (min-width: $screen-md) {
       background-color: transparent;
       width: auto;
       padding: 0;
       height: auto;
       align-items: center;
       gap: 0.75rem;
   }
}