@use "@/styles/_colors" as *;
@use "@/styles/_sizes" as *;
.form{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    @media only screen and (min-width: $screen-md) {
            max-width: 18rem;
    }
    &__error{
        color: $primary;
        font-size: 0.75rem;
        font-weight: 300;
    }
    &__container{
        margin: 24px 0 32px 0;
    }
    &__inputs{
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    }
    &__link{
        font-weight: 400;
        text-decoration: underline;
        
    }
    &__terms{
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $secondary;
    }
}