@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.form{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    @include desktop{
            max-width: 18rem;
    }
    &__error{
        color: $primary;
        font-size: 0.75rem;
        font-weight: 300;
    }
    &__container{
        margin: pxRem(24px) 0 pxRem(32px) 0;
    }
    &__inputs{
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    }
    &__link{
        font-weight: 400;
        text-decoration: underline;
        
    }
    &__terms{
        @include font(pxRem(12px),300,pxRem(20px),pxRem(0.2px),$secondary);
    }
    &__button{
        width: 100%;
        display: flex;
        justify-content: center;
        @include desktop{
            width:12rem;
        }
    }
}