@use "@/styles/_colors" as *;
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding: 1rem 2rem;
    border-top: 1px solid $border;
    gap: 1rem;
    margin-top: 106px;
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.25rem;
    }
    &__price{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;        
        letter-spacing: -0.2px;
        color:$secondary;
    }
    &__description{
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;        
        letter-spacing: 0.8px;
        color: $secondary;
    }
}