@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding: 1rem 2rem;
    border-top: pxRem(1px) solid $border;
    gap: 1rem;
    margin-top: pxRem(106px);
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.25rem;
        @include desktop{
           border-bottom: pxRem(1px) solid $border;
           padding-bottom: 1.25rem;
        }
    }
    &__price{
        @include font(1.5rem,400,2rem,pxRem(-0.2px),$secondary);
        @include desktop {
            font-size: 1.75rem;
        }
    }
    &__description{
        @include font(pxRem(10px),700,pxRem(16px),pxRem(0.8px),$secondary);
        @include desktop{
            @include font(pxRem(12px),400,pxRem(20px),pxRem(0.2px),$placeholder);
            text-transform: lowercase;
        }
    }
    &__label{
        display: none;
        @include font(0.75rem,700,1rem,pxRem(0.6px),$secondary);
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        @include desktop{
            display: initial;
        }
    }
    &__note{
        display: none;
        padding-bottom: 2rem;
        @include desktop{
            display: flex;
        }
    }
    @include desktop {
        margin-top: 12rem;
        border: 0;
    }
}