@use "@/styles/_colors" as *;
@use "@/styles/_resources" as *;
.terms{
    display: flex;
    align-items: flex-start;
    gap: pxRem(12px);
    &__label{
        cursor: pointer;
    }
    &__input{
        position: fixed;
        left: -2rem;
    }
    &__custom{
        border-radius: pxRem(4px);
        width: pxRem(20px);
        height: pxRem(20px);
        border: pxRem(1px) solid $inputBorder;
        &--checked{
            background-color: $success;
        }
    }
}