@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.footer{
    padding-left: 2rem;
    border-top: pxRem(1px) solid $border;
    &__text{
        @include font(0.75rem,300,1.25rem,pxRem(0.2px),$placeholder);
        display: flex;
        align-items: center;
        height: pxRem(75px);
    }
    @include desktop {
        display: none;
    }
}