@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom-width: 0.1rem;
    border-style: solid;
    border-color:$border;
    &__content{
        display: flex;
        align-items: center;
        gap: pxRem(41px);
    }
    &__note{
        display: none;
        font-weight: 400;
        color: $secondary;
        font-size: pxRem(12px);
        line-height: pxRem(20px);
        @include desktop {
                display: block;
        }
    }
    &__link {
        color: $link;
        display: flex;
        align-items: center;
        gap:0.5rem;
    }
    &__icon{
        @include center;
    }
    &__text{
        font-weight: 400;
        @include desktop{
                display: none;
        }
        &--md{
            display: none;
            font-weight: 400;
            font-size: pxRem(14px);
            line-height: pxRem(24px);
            @include desktop {
                    display: flex;
            }
        }
    }
    @include desktop {
        justify-content: space-around;
    }
}