@use "@/styles/_colors" as *;
@use "@/styles/_sizes" as *;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom-width: 0.1rem;
    border-style: solid;
    border-color:$border;
    &__content{
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &__note{
        display: none;
        font-weight: 400;
        color: $secondary;
        font-size: 12px;
        line-height: 20px;
        @media only screen and (min-width: $screen-md) {
                display: block;
        }
    }
    &__link {
        color: $link;
        display: flex;
        align-items: center;
        gap:0.5rem;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text{
        font-weight: 400;
        @media only screen and (min-width: $screen-md) {
                display: none;
        }
        &--md{
            display: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            @media only screen and (min-width: $screen-md) {
                    display: flex;
            }
        }
    }
    @media only screen and (min-width: $screen-md) {
        justify-content: space-around;
    }
}