@use "@/styles/_mediaqueries" as *;
.banner{
    &__img{
        
        &--desktop{
            display: none;
            @include desktop {
                display: initial;
            }
        }
        @include desktop{
            display: none;
        }
    }
}