@use "@/styles/_sizes" as *;
.banner{
    &__img{
        
        &--desktop{
            display: none;
            @media only screen and (min-width: $screen-md) {
                display: initial;
            }
        }
        @media only screen and (min-width: $screen-md) {
            display: none;
        }
    }
}