@use "@/styles/_mediaqueries" as *;
@use "@/styles/_colors" as *;
.section{
    display: flex;
    flex-direction: column;
    &__stepper{
        flex: 1;
        @include desktop {
            background-color: $background-secondary;
        }
    }
    &__main{
        flex: 1.25;
        @include desktop{
            display: flex;
            flex-direction: column;
            padding: 0 3rem;
            align-items: center;
        }
    }
    &__footer{
        flex:1;
    }
    @include desktop{
            flex-direction: row;
    }
}