@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
.banner{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: $background-secondary;
    padding: 1rem 0 1rem 1rem;
    &__img{
       
       &--md{
        display: none;
       }
        @include desktop{
            display: none;
           &--md{
            display: flex;
           }
        }
    }
    @include desktop {
        flex-direction: column;
        padding: 6rem 4rem 3rem 4rem;
        flex: 1;
    }
}