@use "@/styles/_colors" as *;
@use "@/styles/_mediaqueries" as *;
@use "@/styles/_resources" as *;
.front{
    &__text{
        @include font(pxRem(10px),700,pxRem(16px),pxRem(0.8px),$secondary);
        text-transform: uppercase;
    };
    &__title{
        &_color_primary{
            @include font(pxRem(28px),400,pxRem(36px),pxRem(-0.6px),$primary);
            @include desktop{
                line-height: 3rem;
                letter-spacing: pxRem(-0.2px);
            }
        };
        &_color_secondary{
            @include font(pxRem(28px),400,pxRem(36px),pxRem(-0.6px),$secondary);
            @include desktop{
                    line-height: 3rem;
                    letter-spacing: pxRem(-0.2px);
            }
        }
    };
    &__paragraph{
        color: $secondary;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        @include desktop{
                margin-bottom: 6rem;
        }
    }
}